<div class="banner__container">
    <figure class="banner__img">
        <img src="https://m.media-amazon.com/images/M/MV5BY2NiZmE2NzctNmM2OS00MDU2LWE1ZTktY2NjZGM2MjM0YzRkXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UX2160_.jpg" alt="">
    </figure>
    <div class="banner__content">
        <h2>Bullet Train</h2>
        <ul class="banner__details">
            <li><span class="details__year">2022</span></li>
            <li><span class="details__genre">Action, Comedy, Thriller</span></li>
            <li><span class="details__duration">2h 7m</span></li>
        </ul>
        <div class="banner__review">
            <p>
                Five assassins aboard a swiftly-moving bullet train find out that their missions have something in common.
            </p>
        </div>
    </div>
</div>

