<div class="menu__container">
    <div class="menu__toggle" (click)="toggleMenu(); changeToggleButton()">{{ toggleIcon }}</div>
    <div class="menu__list__container" [ngClass]="{'opened-menu': openedMenu}">
        <ul class="menu__list" [ngStyle]="{'display': showList}">
            <li class="menu__item"><a href="#">Home</a></li>
            <li class="menu__item"><a href="#">Movies</a></li>
            <li class="menu__item"><a href="#">TV Shows</a></li>
            <li class="menu__item"><a href="#">Watch List</a></li>
        </ul>
    </div>
</div>

